# Scanner version to use
SCANNER_VERSION=6.0.0.4432
# SCANNER_VERSION=5.0.1.3006
# SCANNER_VERSION=4.8.1.3023

SONAR_TOKEN=your_token
SONAR_ORGANIZATION=your_organization
SONAR_PROJECT_KEY=your_project_key
